#mymouse
{
position: absolute;
left: 0;
top: 0;
width: 32px;
height: 32px;
background-image: url(cursor.png);
background-size: 32px 32px;
border-radius: 8px;
z-index: 1000;
}


#logo
{
position: absolute;
left: 3%;
top: 20%;
width: 80%;
height: 60%;
background: pink;
border:solid 3px black;
}


#statusbar
{
position: absolute;
left: 2%;
width: 96%;
bottom: 1%;
height: 20px;
background: white;
border:solid 2px black;
padding: 8px;
font-family: Courier;	
}


.button
{
border:solid 3px black;
position: relative;
float: left;
margin-left: 16px;
margin-top: 16px;
background: green;
width: 30px;
height: 30px;	
padding: 16px;
text-align: center;
color: white;
font-size: 30px;
cursor: pointer;
z-index: 2;
}






.element
{
border:solid 3px black;
position: relative;
float: left;
margin-left: 16px;
margin-top: 16px;
background: green;
width: 15%;
height: 30%;	
padding: 16px;
text-align: center;
color: white;
font-size: 30px;
cursor: pointer;
z-index: 2;
}


.sub
{
border:solid 2px black;
position: absolute;
left: 50%;
width: 38%;
height: 38%;
top: 50%;
background: yellow;	
z-index: 2;
}


.sub2
{
border:solid 2px black;
position: absolute;
left: 60%;
width: 38%;
height: 38%;
top: 40%;
background: orange;	
z-index: 2;
}


#Input
{
position: absolute;
left: 85%;
top: 10%;
height: 40%;
width: 30%;
border:solid 4px black;	
padding: 6px;
}


#Input2
{
position: absolute;
left: 85%;
top: 60%;
height: 30%;
width: 30%;
border:solid 4px black;	
padding: 6px;
}



#Selection
{
position: absolute;
left: 30%;
top: 2%;
width: 200px;
height: auto;	
}



#MyForm
{
position: absolute;
right: 20%;
top: 2%;
color: black;
width: 18%;
height: 100px;
background: gainsboro;
border:solid 2px black;	
padding: 8px;
}

#MyForm input
{
width: 90%;	
}



#Gender
{
position: absolute;
right: 20%;
top: 32%;
width: 18%;
height: 100px;
background: gainsboro;	
padding: 8px;
border:solid 2px black;
}


#Check
{
position: absolute;
right: 17%;
top: 82%;
width: 340px;
height: 40px;
background: gainsboro;	
border:solid 2px black;
}


#audio-player
{
position: absolute;
right: 2%;
width: 360px;
height: 24px;
top: 1%;
background: gainsboro;	
}
